# Ignore build output and user-specific files

# Windows shortcuts
*.lnk

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/
.ionide
*.sln.iml
PromotedSqlScripts/
/samples/servicecontrol/adapter-mixed-transports/SCTransportAdapter_2/.audit-db
*.audit-db/

*.user
*.suo
*.vs
.vscode/
*.log
*.tmp
*.cache
*.db
*.DS_Store
Thumbs.db
.env
appsettings.*.json
*/.idea/*
